apiVersion: v1
stringData:
  amazonec2credentialConfig-accessKey: AWS_ACCESS_KEY_ID
  amazonec2credentialConfig-defaultRegion: AWS_REGION
  amazonec2credentialConfig-secretKey: AWS_SECRET_ACCESS_KEY
kind: Secret
metadata:
  name: CLUSTER_NAME-cloud-credential
  namespace: CLUSTER_NAME
type: Opaque
