apiVersion: v1
stringData:
  azurecredentialConfig-clientId: AZURE_CLIENT_ID
  azurecredentialConfig-clientSecret: AZURE_CLIENT_SECRET
  azurecredentialConfig-environment: AzurePublicCloud
  azurecredentialConfig-subscriptionId: AZURE_SUBSCRIPTION_ID
  azurecredentialConfig-tenantId: AZURE_TENANT_ID
kind: Secret
metadata:
  name: CLUSTER_NAME-cloud-credential
  namespace: CLUSTER_NAME
type: Opaque
